<div class="animated fadeIn">
    <div>
      <h3>Economy</h3>
      <!-- Nav tabs -->
    </div>
    <div class="card">
        <div class="card-header">
          Roman Coins
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <h4 style="text-align: center">AUGUSTAN CURRENCY SYSTEM</h4>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Denomination</th>
                <th>Metal</th>
                <th>Weight</th>
                <th>Value (In Denarii)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Aureus</td>
                <td>Gold</td>
                <td>7.90 grs.</td>
                <td>
                  <span class="badge badge-secondary">25</span>

                </td>
              </tr>
              <tr>
                <td>Quinarius</td>
                <td>Gold</td>
                <td>3.80 grs.</td>
                <td>
                  <span class="badge badge-secondary">12-1/2</span>
                </td>
              </tr>
              <tr>
                <td>Denarius</td>
                <td>Silver</td>
                <td>3.80 grs.</td>
                <td>
                  <span class="badge badge-secondary">1</span>
                </td>
              </tr>
              <tr>
                <td>Quinarius</td>
                <td>Silver</td>
                <td>1.90 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/2</span>
                </td>
              </tr>
              <tr>
                <td>Sestertius</td>
                <td>Orichalcum</td>
                <td>25.00 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/4</span>
                </td>
              </tr>
              <tr>
                <td>Dupondius</td>
                <td>Orichalcum</td>
                <td>12.50 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/8</span>
                </td>
              </tr>
              <tr>
                <td>As</td>
                <td>Copper</td>
                <td>11.00 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/16</span>
                </td>
              </tr>
              <tr>
                <td>Semis*</td>
                <td>Orichalcum</td>
                <td>3.25 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/32</span>
                </td>
              </tr>
              <tr>
                <td>Quadrans</td>
                <td>Copper</td>
                <td>3.00 grs.</td>
                <td>
                  <span class="badge badge-secondary">1/64</span>
                </td>
              </tr>
            </tbody>
          </table>
          *Denomination introduced by Nero, 64-68 A.D.
          </div>
        </div>
      </div>

    <div class="card">
        <div class="card-header">
          Debasement
        </div>
        <div class="card-body">
          The Denarius at the beginning of the empire was a coin made of almost entirely pure silver. As time went on though, many emperors would reduce the silver content of the coin which would make it cheaper to make new coins, creating a short term influx of money at the cost of inflation. This eventually by the third century would spiral out of control by the third century causing significant economic instability. <br/>
          <br>
          <div class="chart-wrapper">
            <h4 style="text-align: center">Percentage silver content in the Denarius by year</h4>
            <canvas baseChart class="chart"
            [datasets]="DenariusChartData1"
            [labels]="DenariusChartLabels1"
            [options]="DenariusChartOptions"
            [colors]="DenariusChartColours"
            [legend]="DenariusChartLegend"
            [chartType]="DenariusChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>

            <h4 style="text-align: center"></h4>
            <canvas baseChart class="chart"
            [datasets]="DenariusChartData2"
            [labels]="DenariusChartLabels2"
            [options]="DenariusChartOptions"
            [colors]="DenariusChartColours"
            [legend]="DenariusChartLegend"
            [chartType]="DenariusChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

      <div class="card">
          <div class="card-header">
            Trade and Taxes
          </div>
          <div class="card-body">
            In general the economy of the empire was mostly based upon agriculture, however the period saw the rise of cities of sizes previously unseen. Much of this was thanks to the development of sanitation, especially aqueducts, which provided fresh water at distances of several miles sometimes.<br>
            <br/>
            Importantly, the control of the Mediterranean meant a significant growth in trade thanks to shipping, as well as the excellent road infrustructure constructed by the Romans. External trade also opened up during this period, with the Silk Road opening up for trade to china, and sea trade from Egpyt into India.<br>
            <br/>
            Work performed by slaves falls into five general categories: domestic, imperial or public service, urban crafts and services, agriculture, and mining. Convicts provided much of the labour in the mines or quarries, where conditions were notoriously brutal. In many other industries there was little division of labour between slave and free.<br>
            <br/>

          </div>
        </div>
      Data from <a href="https://web.archive.org/web/20151128174101/http://www.tulane.edu/~august/handouts/601cprin.htm">tulane.edu</a>
</div>
