<div class="animated fadeIn">
  <div class="site-section" style="margin-top:50px">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="assets/img/Persia/parthia-ruins.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h2 class="h4 mb-8">Persia</h2>
          <p>Persia has been a series of empires that roughly have encompassed the same geographical area since 500 BCE. As different dynasties/ethnic groups took control of the area the empire is classified under different names.</p>
          <p>During the time of the Roman Empire, Persia was ruled by the Parthians. The Parthians had restored Persian control after the Greek descendants of Alexander ruled the area, although culturally Parthia was a mix of Greek and Archaic Persian </p>
          <p>Parthia was also the only power bordering Rome that proved a substantial threat, but between wars the central location of Parthia between Rome and China as well as India made it an important trade center.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="heading-29190">Ardashir I</h2>
          <h5 class="heading-29190">(224-242)</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="service-29128 text-center">
            <span class="d-block wrap-icon">
              <span class="icon-desktop_mac"></span>
            </span>
            <h4>Revolution</h4>
            <p>The grandson of a warrior named Sasan (from where the name of the Sassanid dynasty comes), Ardashir was the founder of the new Persian dynasty through means that are contested in various sources. The Parthian Empire was weakend by the Roman invasions of Septimius Severus in 198, and by another war in 216, leaving Parthia weakend militarily. Ardashir from Pars rose in rebellion, although the reasons are unclear; in any case it was successful and Ardashir became the new shah.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-29128 text-center">
            <span class="d-block wrap-icon">
              <span class="icon-desktop_mac"></span>
            </span>
            <h4>Reforms</h4>
            <p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-29128 text-center">
            <span class="d-block wrap-icon">
              <span class="icon-desktop_mac"></span>
            </span>
            <h4>Other</h4>
            <p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-29128 text-center">
            <span class="d-block wrap-icon">
              <span class="icon-desktop_mac"></span>
            </span>
            <h4>Succession</h4>
            <p>Lorem ipsum dolor sit amet. Consectetur adipisicing elit Eaque commodi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section" style="margin-top:50px">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="assets/img/Persia/about_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h2 class="h4 mb-8">A New Persia</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatem mollitia obcaecati quod maxime. Soluta libero eligendi voluptatum, natus debitis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quasi!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Shapur I</h2>
          <h5 class="heading-29190">(240-270)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Bahram 123</h2>
          <h5 class="heading-29190">(270-293)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Shapur II pt 1</h2>
          <h5 class="heading-29190">(293-325)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Shapur II pt 2</h2>
          <h5 class="heading-29190">(325-358)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Shapur II pt 3</h2>
          <h5 class="heading-29190">(358-379)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Next</h2>
          <h5 class="heading-29190">(379-399)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Yazdegerd I</h2>
          <h5 class="heading-29190">(399–420)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">420 Blazin</h2>
          <h5 class="heading-29190">(420)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Bahram V / Yazdegerd II</h2>
          <h5 class="heading-29190">(420-457)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Hormizd III / Peroz I</h2>
          <h5 class="heading-29190">(457-484)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">More dudes</h2>
          <h5 class="heading-29190">(484-498)</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light" style="margin-top:50px">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 mx-auto text-center">
          <h2 class="h4 mb-4">Kavad I</h2>
          <h5 class="heading-29190">(498-531)</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section" style="margin-top:50px">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <img src="assets/img/Persia/about_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-4">
          <h2 class="h4 mb-4">Khosrow I and the Future</h2>
          <h5 class="heading-29190">(531 - 632)</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatem mollitia obcaecati quod maxime. Soluta libero eligendi voluptatum, natus debitis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quasi!</p>
          <p><a href="#" class="btn btn-primary text-white px-5">Our works</a></p>
        </div>
        <div class="col-md-4">
          <img src="assets/img/Persia/about_1.jpg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
